body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.bandera {
    display: flex;     
    width: 300px;       
    height: 200px;     
    border: 2px solid #333; 
}

.verde {
    background-color: green;
    width: 33.33%;
    height: 100%;
}

.blanco {
    background-color: white;
    width: 33.33%;
    height: 100%;
}

.rojo {
    background-color: red;
    width: 33.33%;
    height: 100%;
}